name: {{projectName}}
description: {{appDescription}}
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.2.3 <4.0.0'
  flutter: '>=3.10.0'

# To automatically upgrade package dependencies:
#
#   flutter pub upgrade --major-versions
#
# To see which dependencies have newer versions available:
#
#   flutter pub outdated

dependencies:
  flutter:
    sdk: flutter
  solidui: ^1.0.7
  window_manager: ^0.5.1

dev_dependencies:
  flutter_launcher_icons: ^0.14.4
  flutter_lints: ^6.0.0

flutter:
  assets:
    - assets/images/app_icon.png
    - assets/images/app_image.jpg
  uses-material-design: true

# Define launcher icons for all platforms (except Linux) so the app icons can
# be regenerated using:
#
#   dart run flutter_launcher_icons

flutter_launcher_icons:
  image_path: "assets/images/app_icon.png"
  android: true
  min_sdk_android: 21
  ios: true
  remove_alpha_ios: true
  background_color_ios: "#ffffff"
  macos:
    generate: true
  web:
    generate: true
    background_color: "#ffffff"
    theme_color: "#ffffff"
  windows:
    generate: true
    icon_size: 48 # min:48, max:256, default: 48
